@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 1rem;
  background-color: #0a122a;
  color: #fbfaf8;
  font-family: "Labrada", serif;
  text-shadow: 1px 1px 2px #0a122a;
  font-size: 5rem;
  /* overflow allow the changes to the page (hidden allow invisibilty to text to hide behind screen)*/
  overflow: hidden;
  /* NOTE: CHANGE BG*/
  /* background: url("img/flames.gif"); */
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation-name: fadeOut;
  animation-duration: 2s;
  text-align: center;
}

h1{
  color:#698f3f;
  font-size: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  margin: 15% 4rem 0 4rem;
}

.word {
  font-family: "Martian Mono", monospace;
}

.code {
  color: #698f3f;
  text-shadow: 1px 1px 2px #698f3f;
  font-family: "Libre Barcode 39 Text", system-ui;
  
}

.art {
  font-family: "Love Ya Like A Sister", cursive;
}

body {
  transition-property: transform;
  transition-duration: 3s;
}

aside.compatibility ul {
  margin-top: 64px;
  list-style-type: none;
}

aside.compatibility .software1 {
  position: relative;
}

aside.compatibility li {
  display: inline-block;
  padding-top: 0px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0px;
  width: 40px;
  height: 40px;
  line-height: 2;
}

.overlay {
  display: inline-table;
  position: absolute;
  top: 0px;
  width: 80%;
  height: 100%;

  padding: 10%;
  text-align: center;
  z-index: 10;
  visibility: visible;
  vertical-align: middle;
}

 a:hover {
  font-size:110%;
  text-shadow: 1px 1px 2px #698f3f;
}

.mainview {
  background-image: url(img/codeimage_01.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  position: relative;
  top: 12px
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
