@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  margin: 1rem;
  background-color: black;
  color: whitesmoke;
  font-size: 5rem;
  /* overflow allow the changes to the page (hidden allow invisibilty to text to hide behind screen)*/
  overflow: hidden;
  background: url("img/flames.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation-name: fadeOut;
  animation-duration: 2s;
}

html {
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  margin: 15% 4rem 0 4rem;
}

.last {
  padding-bottom: 2rem;
  border-bottom: 2px solid rgb(220, 200, 180);
}

.ex1 {
  transform: translate(30px, 30px);
}

.ex2 {
  transform: scale(0.5, 0.5);
}

.ex3 {
  transform: rotate(45deg);
}

body{
  transition-property: transform;
  transition-duration: 3s;
}